html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerFull{
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerCenter{
  width: 100%;
  padding: 0 32px;
}

.d-none{
  display: none;
}

.d-flex{
  display: flex;
}

.d-block{
  display: block;
}

@media (min-width: 768px){
  .containerCenter{
    padding: 0 50px;
  }
}